.modal {
    padding: 40px 40px 47px 40px;
    width: 100%;
    height: 100%;
    background: var(--silver);
    position: fixed;
}

.modal__window {
    padding: 30px 40px 33px 40px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    background: var(--white);
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.modal__close {
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 12px;
}

.modal__icon-close {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.modal__title {
    margin-top: 2px;
    margin-bottom: 14px;
    color: var(--purple-blue);
    font: normal normal 600 20px/24px Inter, sans-serif;
}

.modal__text {
    margin-bottom: 0;
    color: var(--grey-4);
    font: normal normal 400 16px/24px Inter, sans-serif;
}