.histogram {
    padding: 16px 24px 24px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.histogram__header {
    margin-bottom: 39px;
    display: flex;
    justify-content: space-between;
}

.histogram__caption {
    margin-bottom: 6px;
    font: normal normal 400 16px/24px Inter, sans-serif;
    color: var(--black);
    opacity: 0.8;
}

.histogram__orders {
    font: normal normal 400 20px/26px Inter, sans-serif;
    color: var(--black);
}

.histogram__link {
    margin: 3px 0 0;
    font: normal normal 400 16px/24px Inter, sans-serif;
    color: var(--royal-blue);
}

.histogram__chart {
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.histogram__column {
    margin: 0 1px 0;
    flex-basis: 9px;
    flex-grow: 1;
    background: var(--royal-blue);
}

.histogram__column_small {
    height: 15%;
}

.histogram__column_small-medium {
    height: 30%;
}

.histogram__column_medium {
    height: 45%;
}

.histogram__column_medium-large {
    height: 60%;
}

.histogram__column_large {
    height: 75%;
}

.histogram__column_extra-large {
    height: 100%;
}