.entry-field__input {
    width: 350px;
    height: 56px;
    padding: 0 50px 0 24px;
    font: normal normal 400 20px/26px Inter, sans-serif;
    color: var(--grey-4);
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    transition: border 0.2s linear;
}

.entry-field__label {
    margin-bottom: 5px;
    display: block;
    color: var(--grey-3);
    font: normal normal 500 12px/18px Inter, sans-serif;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.entry-field__icon {
    position: absolute;
    top: 16px;
    right: 16px;
}

.entry-field__wrapper {
    position: relative;
    max-width: 350px;
}

.entry-field__input::placeholder {
    color: var(--grey-2);
}

.entry-field__input:focus {
    border: 1px solid var(--royal-blue);
    outline: none;
}

.entry-field_success .entry-field__icon_success {
    opacity: 1;
}

.entry-field_success .entry-field__input {
    border: 1px solid var(--grey-2);
    outline: none;
}

.entry-field_error .entry-field__icon_error {
    opacity: 1;
}

.entry-field_error .entry-field__input {
    border: 1px solid var(--error);
    outline: none;
}